@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #9E77ED;
  --color-secondary: #D6BBFB;
  --color-background: #F8F8F8;
  --color-text: #333333;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #181D25;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .btn-primary {
    @apply w-[124px] h-12 py-2 px-4 bg-primary text-white font-bold rounded-lg shadow-md focus:outline-none;
  }
  .btn-session {
    @apply w-[160px] h-12 py-2 px-4 bg-violetLight text-black rounded
  }
  .btn-feedback {
    @apply w-[160px] h-12 py-2 px-4 bg-primarySmall text-white font-medium rounded
  }
  .btn-summary {
    @apply w-[160px] h-12 py-2 px-4 bg-summary text-white font-medium rounded
  }
  .btn-login {
    @apply w-[45%] h-12 rounded-lg  bg-white border-solid border-2 border-grayLight text-black  flex items-center  px-2 gap-4
  }
  .btn-secondary {
    @apply w-[124px] h-12 py-2 px-4 bg-grayPlate text-white font-bold rounded-lg shadow-md focus:outline-none;
  }
  .btn-dashboard {
    @apply w-full h-12 text-sm text-blackMediumC font-semibold flex items-center  px-2 gap-x-4
  }
  .btn-meeting {
    @apply w-[150px] h-10 border-solid border-2 rounded-lg border-borderGray text-blackMediumC text-sm text-center align-middle py-2 px-3
  }
  .form-input {
    @apply w-[570px] h-[59px] mt-1 block  rounded-md border border-gray-400 p-4
  }
  .form-textarea{
    @apply w-[570px] h-[132px] mt-1 block w-full rounded-md border border-gray-400 p-4
  }
  .search-input {
    @apply w-64 h-10 rounded-md border border-grayDark text-sm p-2.5;
  }
  .welcome-back {
    @apply text-2xl text-blackMediumC mt-4 mb-2;
  }
  .infographics-square {
    @apply py-6 px-5 w-[180px] h-[184px] rounded-lg ;
  }
  .infographics-title {
    @apply text-sm text-grayDarkest font-montserrat font-semibold;
  }
  .upcomming-date {
    @apply bg-violetLight w-12 h-[60px] rounded-md flex flex-col items-center justify-center 
  }
  .customer-journey {
    @apply bg-violetLight w-12 h-12 rounded-md flex flex-col items-center justify-center
  }
}
.bg-customGradient {
  background: linear-gradient(270deg, rgba(246, 245, 255, 0.91) 0.01%, rgba(252, 252, 252, 0.79) 99.99%);


}
.checkbox-login {
  width: 1.5rem;
  height: 1.5rem;
}
.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.privacity-info {
  width: 857px;
  font-size: small;
}

h1 {
  font-size: 64px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #27272A;
}
h5 {
  font-size: 1rem;
  font-weight: bold;
}
span{
  /*font-size: 16px;*/
  font-family: 'Montserrat', sans-serif;
 /* font-weight: 400;
  line-height: 25px*/
}
.speaking {
  text-align:end;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.nav-item {
  width: 124px;
  height: 48px;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
}
.trial-session {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 25px;
}
.sharing-banner {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px
}
.speaker {
  width: 113px;
  height: 33px;
  padding: 4px 7px 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.answer-generator {
  color: #039855;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.banner-view {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
.hover-text-shadow:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.svg-white {
  filter: invert(1) grayscale(100%) brightness(200%);
}
